<%= form_for @shopping_detail, url: shopping_details_path, html: {multipart: true} do |f| %>
    <% if @shopping_detail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shopping_detail.errors.count, "error") %> prohibited this shopping_detail from being
            saved:</h2>

          <ul>
            <% @shopping_detail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
