<head>
  <% content_for :title, 'SMARTLIST LOGIN' %>
</head>

<body>

<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1 class="page-header"><strong>SMARTLIST</strong></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1 col-md-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-6">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3 class="dashboard_category_title">SIGN IN</h3>
              </div>
              <div class="form-top-right">
                <i class="fa fa-key"></i>
              </div>
            </div>
            <div class="form-bottom">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                           :html => {role: 'form', class: 'login-form'}) do |f| %>
                  <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <%= f.email_field :email, type: 'text',
                                      placeholder: 'Email',
                                             class: 'form-username form-control', id: 'form-username',
                                      autofocus: true %>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <%= f.password_field :password,
                                         autocomplete: 'off', placeholder: 'Password',
                                         class: 'form-password form-control', id: 'form-password'  %>
                  </div>
                  <!--<% if devise_mapping.rememberable? -%>-->
                      <!--<div class="field">-->
                        <!--<%= f.check_box :remember_me %>-->
                        <!--<%= f.label :remember_me %>-->
                      <!--</div>-->
                  <!--<% end -%>-->
                  <%= f.submit 'Sign in', class: 'button btn btn-sign-in' %>
                  <p></p>
                  <!--Button for sign up modal form-->
                  <!--<button type="button" class="btn btn-danger" data-toggle="modal"-->
                          <!--data-target="#sign_up">Not a smartlister yet?-->
                  <!--</button>-->

                  <%= link_to 'Not a smartlister yet?', new_registration_path(resource_name), class: 'btn btn-danger'%>

                  <!--Modal form sign up without backend-->

                  <!--<div class="modal" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="madalLabel">-->
                    <!--<div class="modal-dialog" role="form">-->
                      <!--<div class="modal-content">-->
                        <!--<div class="modal-body">-->
                          <!--<div>-->

                            <!--<div>-->
                              <!--<div class="form-top">-->
                                <!--<div class="form-top-left">-->
                                  <!--<h3>Sign up</h3>-->
                                  <!--<p>Fill in the form below to get instant access:</p>-->
                                <!--</div>-->
                                <!--<div class="form-top-right">-->
                                  <!--<i class="fa fa-pencil"></i>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<div class="form-bottom">-->
                                <!--<form role="form" action="" method="post" class="registration-form" data-toggle="validator">-->
                                  <!--<div class="form-group">-->
                                    <!--<label class="sr-only" for="form-name">Name</label>-->
                                    <!--<input type="text" name="form-name" placeholder="Name..." class="form-name form-control" id="form-name">-->
                                  <!--</div>-->
                                  <!--<div class="form-group">-->
                                    <!--<label class="sr-only" for="form-email">Email</label>-->
                                    <!--<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">-->
                                  <!--</div>-->
                                  <!--<div class="form-group">-->
                                    <!--<label class="sr-only" for="form-password">Password</label>-->
                                    <!--<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">-->
                                  <!--</div>-->
                                  <!--<div class="form-group">-->
                                    <!--<label class="sr-only" for="form-password">Password Confirm</label>-->
                                    <!--<input type="password" name="password_confirm" placeholder="Confirm password..."-->
                                           <!--data-match="#form-password" data-match-error="Whoops, these don't match"-->
                                           <!--class="form-password form-control" id="password_confirm" >-->
                                  <!--</div>-->

                                  <!--<button type="submit" class="btn btn-sign-in">Sign up</button>-->
                                <!--</form>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!---->
                          <!--</div>-->


                        <!--</div> &lt;!&ndash;modal-body&ndash;&gt;-->
                      <!--</div> &lt;!&ndash;modal-content&ndash;&gt;-->
                    <!--</div> &lt;!&ndash;modal-dialog&ndash;&gt;-->
                  <!--</div> &lt;!&ndash;modal&ndash;&gt;-->


              <% end %>
              <p></p>
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link" %>

                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "link" %>


            </div>
          </div>

          <div class="social-login">
            <!--<p>Sign in with:</p>-->
            <div class="social-login-buttons">
              <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
              <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                <i class="fa fa-facebook"></i> Facebook
              </a>
              <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                <i class="fa fa-twitter"></i> Twitter
              </a>
              <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Googøe+
              </a>
            </div>
          </div>

        </div>

        <div class="col-sm-1 col-md-3"></div>
      </div>

    </div>
  </div>

</div>

</body>



