<head>
  <% content_for :title, 'Manage your products' %>
</head>

<body>

<div class="top-content">

  <div class="inner-bg">

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1 class="page-header"><strong>YOUR PRODUCTS</strong></h1>
        </div>
      </div>

      <div class="row">
        <div class="form-box">

          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-7 col-sm-10">
                    <h4>
                      <strong>PRODUCTS</strong>
                    </h4>
                  </div>
                  <div class="col-xs-5 col-sm-2">
                    <%= link_to 'add product', new_product_path, class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
              <table class="table table-fixed">
                <thead>
                <tr>
                  <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</th>
                  <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Price</th>
                  <th class="col-sm-3 col-md-3 col-lg-3"><div class="hidden-xs">Description</div></th>
                  <th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Store</th>
                  <th class="col-xs-2 col-sm-1 col-md-1 col-lg-1"></th>
                  <th class="col-xs-2 col-sm-1 col-md-1 col-lg-1"></th>
                </tr>
                </thead>
                <tbody>
                <% @products.each do |product| %>
                    <tr>
                      <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left-al-cell"><%= product.name %></td>
                      <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 left-al-cell"><%= product.price %></td>
                      <td class="col-sm-3 col-md-3 col-lg-3 left-al-cell">
                        <div class="hidden-xs"><%= product.description %></div>
                      </td>
                      <td class="col-xs-3 col-sm-2 col-md-2 col-lg-2 left-al-cell"><%= product.store %></td>
                      <td class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                        <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-info' %>
                      </td>
                      <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <%= link_to 'delete', product, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-warning' %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</body>

