<head>
  <% content_for :title, 'SHOPPING LIST' %>
</head>

<body>

<div class="top-content">

  <div class="inner-bg">

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1 class="page-header"><strong>SHOPPING LIST</strong></h1>
        </div>
      </div>

      <div class="row">
        <div class="form-box">
          <div class="col-xs-12 col-sm-6 ">

            <div class="panel panel-default panel-danger">
              <div class="panel-heading">
                <h4>
                  <strong>Active list:</strong>
                </h4>
              </div>
              <div id="wrapper">
                <table class="table table-fixed">
                  <thead>
                  <tr>
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-6">Address</th>
                    <th class="col-xs-2"></th>
                  </tr>
                  </thead>
                  <tbody>

                  <% @active_products.each do |active_product| %>
                      <tr>
                        <td class="col-xs-4 left-al-cell"><%= active_product.name %></td>
                        <td class="col-xs-6 left-al-cell"><%= active_product.store %></td>
                        <td class="col-xs-2"><%= link_to 'delete',
                                                         {controller: :products,
                                                          action: :set_as_inactive,
                                                          id: active_product.id},
                                                         class: 'link' %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

            <%= link_to '#add_favourite_list', :remote => true, 'data-toggle' => 'modal', class: 'btn btn-info' do %>
                Add to favourites
            <% end %>
            <%= link_to '#send_as_email', :remote => true, 'data-toggle' => 'modal', class: 'btn btn-success' do %>
                Send as email
            <% end %>

            <!--Modal "Add as favourite store"-->
            <div class="modal" id="add_favourite_list" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
              <div class="modal-dialog" role="form">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="modalLabel">Add to favourite lists</h3>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="well well-sm">
                            <%= # noinspection RubyResolve
                                form_tag(favourite_lists_create_favourite_list_path) do %>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <div class="field">
                                        <%= text_field_tag :name, nil, placeholder: 'Enter name of your list',
                                                           required: 'required' %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="actions">
                                      <%= submit_tag 'Add to favourites', class: 'button btn btn-sign-in pull-left' %>
                                    </div>
                                  </div>
                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!--modal-body-->
                </div> <!--modal-content-->
              </div> <!--modal-dialog-->
            </div> <!--modal-->

            <!--Modal "Send shopping list as email"-->
            <div class="modal" id="send_as_email" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
              <div class="modal-dialog" role="form">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="modalLabel">Send list as email</h3>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="well well-sm">
                            <form>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required"/>
                                    </div>
                                  </div>

                                </div>
                                <div class="col-md-6">
                                  <button type="submit" class="btn btn-primary pull-left" id="btnContactUs">
                                    Send Message
                                  </button>
                                </div>
                              </div>
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!--modal-body-->
                </div> <!--modal-content-->
              </div> <!--modal-dialog-->
            </div> <!--modal-->


          </div>
        </div>
        <div class="col-xs-12 col-sm-6">


          <div class="panel panel-default panel-success">
            <div class="panel-heading">
              <h4>
                <strong>Your products:</strong>
              </h4>
            </div>
            <div>
              <table class="table table-fixed">
                <thead>
                <tr>
                  <th class="col-xs-4">Name</th>
                  <th class="col-xs-6">Description</th>
                  <th class="col-xs-2"></th>
                </tr>
                </thead>
                <tbody>

                <% @products.each do |product| %>
                    <tr>
                      <td class="col-xs-4 left-al-cell"><%= product.name %></td>
                      <td class="col-xs-6 left-al-cell"><%= product.description %></td>
                      <td class="col-xs-2"><%= link_to 'add',
                                                       {action: :set_as_active, controller: :products,
                                                        id: product.id},
                                                       class: 'link' %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>


        </div>


      </div>

    </div>

  </div>

</div>

</body>