<p>
  <strong>Name:</strong>
  <%= @sale.name %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @sale.expiry_date %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @sale.image_url %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
