<!DOCTYPE html>
<html lang="en">
<title><%= yield(:title) %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= # noinspection RailsParamDefResolve
    stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= # noinspection RailsParamDefResolve
    javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<body>

<% # noinspection RubyResolve
   if current_user %>

    <% # noinspection RubyResolve
       if current_user.admin? %>
        <%= render 'navbars/navbar_admin' %>
    <% elsif current_user.store? %>
        <%= render 'navbars/navbar_store' %>
    <% else %>
        <%= render 'navbars/navbar_user' %>
    <% end %>

<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">
        <div class="footer-border"></div>
        <p>Contact us at <%= link_to '#contact_us', :remote => true, 'data-toggle' => 'modal' do %>
              <strong>SMARTLIST</strong>
          <% end %>
          <i class="fa fa-envelope-o" aria-hidden="true"></i></p>
      </div>

    </div>
  </div>

  <div class="modal" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="modalLabel">Contact us</h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="well well-sm">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">
                            Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Enter name" required="required"/>
                        </div>
                        <div class="form-group">
                          <label for="email">
                            Email Address</label>
                          <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="subject">
                            Subject</label>
                          <select id="subject" name="subject" class="form-control" required="required">
                            <option value="na" selected="">Choose One:</option>
                            <option value="service">General Customer Service</option>
                            <option value="suggestions">Suggestions</option>
                            <option value="product">Product Support</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">
                            Message</label>
                            <textarea name="message" id="message" class="form-control" rows="50" cols="25" required="required"
                                      placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                          Send Message
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> <!--modal-body-->
      </div> <!--modal-content-->
    </div> <!--modal-dialog-->
  </div> <!--modal-->

</footer>

</body>
</html>
